<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dh.goalcoholgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="GoAlcoholGo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.goalcoholgo">
        <activity android:name="com.dh.goalcoholgo.LoginActivity"
            android:theme="@style/Theme.goalcoholgo.NoActionBar"/>
        <activity android:name="com.dh.goalcoholgo.RegisterActivity"
            android:theme="@style/Theme.goalcoholgo.NoActionBar"/>
        <activity
            android:name="com.dh.goalcoholgo.panic_3"

            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Panic_2"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Alert"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Panic"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Progress"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Progress_2"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Progress_3"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Progress_4"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Alcohol_1"
            android:label="@string/title_activity_alcohol_1"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Addictions"
            android:label="@string/title_activity_a_d_d_i_c_t_i_o_n_s"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.Form2"
            android:theme="@style/Theme.goalcoholgo.NoActionBar" />
        <activity
            android:name="com.dh.goalcoholgo.splashScreen"
            android:theme="@style/Theme.goalcoholgo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.dh.goalcoholgo.AlertReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>